{
  "server": "localhost",
  "port": 25,
  "from": {
    "name": "mailsender",
    "mail": "a@a.com"
  },
  "tls": true,
  "skipCertificateCheck": true,
  "user": "",
  "password": "",
  "timeout": "10s"
}
