{
  "mail": {
    "server": "localhost",
    "port": 25,
    "from": {
      "name": "mailsender",
      "mail": "a@a.com"
    },
    "tls": true,
    "skipCertificateCheck": true,
    "user": "",
    "password": ""
  },
  "templates": {
    "html": "/path/to/html.tmpl",
    "txt": "/path/to/txt.tmpl"
  },
  "subject": "test",
  "timeout": "10s"
}
